<div class="container" >
<div class="page-title">
	Storia della 24 ore
</div>

<box color="blue" title="Edizione 2022">
  <p>
    La 24 ore 2022 viene organizzata a marzo, appena sei mesi dopo la precedente. I Matematici, sotto la guida del biologo Piergiorgio Ferronato, primo non matematico a ricoprire il ruolo, hanno ancora caldo il ricordo della sconfitta e sono più agguerriti che mai. D'altro canto i Fisici, sotto la guida di Guglielmo Temperini, hanno tutte le intenzioni di replicare il risultato dell'anno precedente. Il Subotto viene ospitato per la seconda volta dall'aula studio del porticato. Purtroppo, anche quest'anno una tradizione della 24 ore viene interrotta: infatti il vicevapitano dei Fisici, Matteo Pioldi, non può prendere parte alla manifestazione a causa del Covid, e viene quindi sostituito nella seconda coppia da Mattia Arundine.
  </p>
  <p>
    La giungla iniziale, allungata fino alle 2 di notte rispetto alle edizioni precedenti per permettere un maggior coinvolgimento del pubblico, termina con i Matematici in vantaggio di circa 40 gol. La notte vede sfidarsi come sempre i migliori giocatori di entrambe le squadre, e si chiude aumentando il vantaggio dei Matematici di circa altri 40 gol. I turni si rivelano poi di nuovo a senso unico, con i Fisici che subiscono una disfatta dietro l'altra, portando inevitabilmente alla vittoria dei Matematici.
  </p>
  <p>
    Conclusa la sfida, il sostituto vicecapitano dei Fisci Mattia Arundine si assume la responsabilità di fare il cammello insieme al capitano Guglielmo Temperini. Nonostante questo, il vicecapitano Matteo Pioldi non si ritiene soddisfatto, e non appena i conclude la sua quarantena si reca al Subotto per passarci sotto, concludendo così la cerimonia della 24 ore 2022.
  </p>
</box>

<box color="blue" title="Edizione 2021">
  <p>
    Arriva febbraio, ma il Covid incombe e la 24 ore non viene organizzata. Passano i mesi, e il 2021 sembra essere destinato ad diventare il primo anno senza una 24 ore. Ma l'8 settembre, al ritorno dalle vacanze estive, la comunità della Scuola Normale viene sorpresa da una mail contenete un messaggio inconfondibile: LA 24ORE DI BILIARDINO 2021 SI FARÀ!
  </p>
  <p>
    Dopo lunghe discussioni e trattative, i capitani Davide Colpo per i Matematici e Claudio Benedetto Maggi per i Fisici sono riusciti ad ottenere dal Gruppo Emergenza della Scuola il permesso per organizzare la 24 ore. Purtroppo le norme anti-contagio, oltre a far spostare la sfida dall'aula Mancini alla nuova aula studio ottenuta dal porticato, limitano il numero di spettatori presenti; ovviamente questo non demoralizza né i partecipanti né tantomeno gli organizzatori: per sopperire alla capienza limitata "in presenza" viene potenziato lo streaming con una postazione telecronaca (quasi) professionale.
  </p>
  <p>
    Dopo il finale al cardiopalma dell'anno precedente e il ritardo della manifestazione, la voglia di giocare è palpabile. Da un lato i Matematici vogliono dimostrare che il 2018 è stata l'eccezione, dall'altro i Fisici non hanno nessuna intenzione di concedere di nuovo quei dieci gol di vantaggio. Con una partecipazione sentitissima da tutto il corpo studentesco, arriva quindi il fatidico giorno della sfida. Per la prima volta nella storia della 24 ore sembra essere tutto pronto ben qualche ora prima dell'inizio (incluso il rinnovato Subtracker), quando accade l'imprevedibile: ad un'ora dall'inizio la sala macchine della Carovana ha un guasto, e la rete della Normale si blocca completamente.
  </p>
  <p>
    Si scatena il panico: senza la rete non solo è impossibile avere il sito e lo streaming, ma anche tutto il sistema per contare i gol e chi è in campo non funziona. Il Subotto Technical Team inizia una disperata corsa contro il tempo per imbastire un sistema provvisorio, e avvia la ricerca di volontari disposti ad offrire la propria connesione dati per lo streaming, particolarmente necessario dati i limiti alla partecipazione in presenza. Dato però che nemmeno Dio può affondare il Subotto, si decide di iniziare la 24 ore alle 22 come programmato; grazie alla connessione dati di Federica Bertolotti, una matricola del dottorato, lo streaming inizia una manciata di secondi dopo. Inizialmente i punti vengono mostrati solo dai display del Subotto, mentre cambi e parziali vengono annotati su un foglio per poter poi essere inseriti successivamente, ma meno di un'ora dopo l'inizio è già attivo un sistema locale, e la 24 ore prosegue normalmente.
  </p>
  <p>
    La giungla si conclude non molto dopo, un po' in anticipo rispetto al solito, con i Matematici in leggero vantaggio. La notte entrambe le squadre schierano i loro giocatori migliori, e la situazione si rivela estremamente bilanciata: la differenza alla fine è di appena 20 gol di vantaggio per i matematici. Iniziano i turni, e i Fisici recuperano rapidamente gol, sorpassando i Matematici verso le 9 di mattina e accumulando vantaggio nella prima parte della mattina. Nonostante il tifo sfrenato della squadra avversaria, i Matematici riescono a tornare in pareggio a mezzogiorno, ma la prima parte del pomeriggio è di nuovo favorevole ai Fisici. Quando scendono in campo i giocatori della notte i Fisci sono in leggero vantaggio, ma i Matematici riescono a raggiungere di nuovo il pareggio. Per la seconda volta, la giungla finale viene sostituita da una seconda notte, ma il risultato dell'anno precedente viene ribaltato: nella prima ora i Fisici riescono ad accumulare una trentina di gol di vantaggio, e gli ultimi turni vengono giocati dagli spettatori presenti. Per la seconda volta, la 24 ore si conclude con la vittoria dei Fisici.
  </p>
</box>

<box color="blue" title="Edizione 2020">
<p>
    Per la seconda volta, l'aula Mancini si riempie di una enorme folla in occasione della 24 ore. La sera della sfida vengono proiettati ben tre trailer: uno ufficiale, uno clandestino e uno extra. Imparata la lezione dalla precedente edizione, le squadre decidono di spartirsi, a partire da quest'anno, le matricole di altre materie, in modo da equilibrare il più possibile il numero di partecipanti negli anni a venire.
</p>
<p>
    I Matematici, capitanati da Lorenzo Demeio, sono una squadra giovane, forte e fresca di vittoria, puntellata qua e là con elementi di maggiore esperienza. I Fisici, guidati dal letterato Luca Onorato, sono convinti di poter fare molto meglio dell'anno prima: si allenano e si organizzano onde mostrare il loro vero valore.
</p>
<p>
    Il triste abbandono del Subtracker per il secondo anno di fila passa in secondo piano rispetto allo spettacolo della sfida, raccontata in streaming da un nutrito grupopo di telecronisti. Le prime due partecipatissime ore lasciano presto il posto ai migliori giocatori scelti dai capitani, che si sfidano con determinazione per tutta la notte, la quale si chiude con i Matematici in vantaggio di 100 goal. Quest'anno, però, i Fisici tornano ad avere la meglio durante il giorno, iniziando una emozionante rimonta che culmina con il sorpasso nel primo pomeriggio e un vantaggio di quasi 40 goal poche ore dopo. Nelle due ore conclusive non c'è spazio per i giocatori meno forti: in un'aula Mancini affollatissima e urlante, i Matematici dapprima capovolgono il risultato, superando i 10 goal di differenza reti necessari ad evitare i vantaggi, ma poco dopo i Fisici si rifanno sotto, portandosi a loro volta nuovamente in vantaggio. Tra sorpassi e controsorpassi, si arriva per la prima volta a decidere la sfida ai vantaggi. L'arrivo di Vasco nel pubbblico non basta ai Fisici per reggere l'ultimo sforzo dei loro avversari, che vincono la prima memorabile 24 ore e 5 minuti della storia.
</p>
</box>

<box color="blue" title="Edizione 2019">
<p>
    Chiuso il Carducci per ristrutturazione, il Subotto trova casa al Faedo. L'assenza di un luogo adatto nel collegio, così come la presenza dei santannini, spingono ad organizzare la 24 ore nell'aula Mancini del Palazzo della Carovana, regalando un lustro e un'atmosfera tutti nuovi alla manifestazione. Il prato del Subotto viene sostituito con uno personalizzato e il trailer torna ad essere proiettato la sera stessa dell'evento, appena prima del lancio d'inizio, davanti ad una grande folla. La nuova location porta però con sé anche una conseguenza negativa: il Subtracker rimane ai box, a causa delle difficoltà di installazione e dell'inesperienza dei nuovi "tecnici" col suo codice.
</p>
<p>
    La sconfitta dell'anno precedente ha lasciato una ferita aperta nella squadra dei Matematici. Grazie a un definitivo ricambio generazionale, il cuore pulsante della squadra è ora formato dai più giovani, guidati da Davide Gori e allenatisi duramente. I Fisici fanno invece capo per la prima volta (se non si conta Dario Ascari) ad un non-fisico: Enrico Negri, biologo. Durante la preparazione della sfida ci si rende presto conto della notevole disparità tra i numeri dei giocatori delle due squadre. Per organizzare i turni giornalieri, si decide dopo lunghe discussioni di far giocare due volte una frazione consistente dei Matematici.
</p>
<p>
    La sfida è a senso unico. Mentre le fotocellule funzionano ad intermittenza, i Matematici guadagnano un notevole vantaggio già nell'apertura. A differenza dell'anno precedente, non funziona la strategia dei Fisici di dividere a metà la notte: vengono battuti con decisione dai pochi, scelti Matematici che si alternano incessantemente sul campo. I turni giornalieri registrano una bruschissima inversione di tendenza rispetto alle tre sfide precedenti, molto probabilmente a causa della citata organizzazione coi "doppi turni". La sfida finisce con un impietoso record di 461 goal di scarto: vendetta è servita.
</p>
</box>

<box color="blue" title="Edizione 2018">
<p>
    Con l'assenza di Giovanni Mascellani, fino all'anno prima unico ad aver partecipato a tutte le edizioni, contribuendo con molti goal e ancor più linee di codice, l'edizione 2018 segna il completamento del rinnovo dei partecipanti rispetto alle origini della manifestazione.
</p>
<p>
    Nella squadra dei Matematici, capitanata da Riccardo Zanotto, diversi giovani giocatori acquisiscono importanza nella squadra; gran parte della fiducia, tuttavia, è ancora nella vecchia guardia. I Fisici sono più agguerriti che mai: sotto il comando di Alberto Bordin per il terzo anno di fila, vengono da ormai diverse edizioni con un trend positivo e hanno la consapevolezza della maturazione dei loro giovani talenti. Preparando la sfida, decidono segretamente di usare ciascuno dei propri migliori giocatori per solo una metà della notte, cercando di sfruttare l'effetto sorpresa e sperando che lo "sfasamento al contrario" risulti efficace.
</p>
<p>
    Durante l'apertura, nessuna delle due squadre riesce a prevalere. È solo dopo tre ore di giungla notturna, tuttavia (mentre le fotocellule, già impazzite, muoiono definitivamente), che entrambe le squadre si convincono che l'andamento della sfida è diverso dagli anni precedenti: i Matematici non riescono a guadagnare un vantaggio significativo. In un'atmosfera mista tra tensione ed incredulità, i Matematici riescono infine a guadagnare un modesto vantaggio di 60 goal al termine della notte. La rimonta dei Fisici, però, non si fa attendere, grazie soprattutto alla superiore qualità complessiva dei loro giocatori nei turni giornalieri: il sorpasso si completa a ora di pranzo e il vantaggio notturno si ribalta completamente nel primo pomeriggio. Nemmeno i turni dei giocatori più forti riescono a modificare sensibilmente il trend; dopo un'ora di giungla disperata, i Matematici gettano la spugna, arrendendosi per la prima storica volta ai Fisici e chiudendo a 8 la striscia di vittorie consecutive.
</p>
</box>

<box color="blue" title="Edizione 2017">
<p>
    Nel 2017 l'età media delle due squadre diverge ancora di più: sebbene le persone al comando non cambino, la squadra dei Fisici si rinforza di molte matricole appassionate, mentre quella dei Matematici, guidata da Matteo Migliorini, fa affidamento sui giocatori con più esperienza.
</p>
<p>
    Come l'anno precedente, qualche giorno prima della sfida, il trailer viene presentato in una première, questa volta con una sorpresa: al termine di essa, viene annunciato e proiettato anche un trailer clandestino, preparato dai fisici del secondo anno.
</p>
<p>
    I Matematici, usciti in saldamente vantaggio dall'apertura, guadagnano terreno durante la notte, con velocità crescente, culminando a 200 goal di vantaggio all'inizio del mattino. I turni giornalieri sono però favorevoli ai Fisici, che si rifanno sotto grazie alle loro nuove leve, presentandosi a metà pomeriggio con meno di 70 goal di svantaggio. Bastano però pochi turni tra i giocatori più forti per far svanire, più che le briciole di speranze di rimonta, le ansie dei Matematici più agguerriti.
</p>
</box>

<box color="blue" title="Edizione 2016">
<p>
    L'edizione 2016 registra un grande ricambio generazionale nella squadra dei Fisici: i giocatori più anziani lasciano il controllo a quelli del secondo anno, che già l'anno precedente, da matricole, si erano impegnati, appassionati e sfasati. Il posto da capitano viene così occupato da tre persone: Alberto Bordin, Giacomo Petrillo e Dario Ascari; quest'ultimo, un matematico decisosi a passare al lato oscuro... Lo zoccolo duro della squadra dei Matematici, guidata da Lorenzo Benedini, resta invece quello di sempre.
</p>
<p>
    Fotocellule, Subtracker e trailer sono ormai una tradizione consolidata dello spettacolo e tutto si svolge senza grossi problemi. Dopo un'apertura equilibrata, la derivata del punteggio dei Fisici subisce una grande (e prevedibile) battuta d'arresto durante la notte, alla fine della quale si registrano 260 goal di scarto. I turni giornalieri mantengono costante il distacco irrecuperabile, il quale torna ad aumentare col ritorno in campo dei guardiani della notte, sancendo la settima vittoria consecutiva dei Matematici.
</p>
</box>

<box color="blue" title="Edizione 2015">
<p>
Nel 2015 si disputa la prima edizione che non vede partecipare nessuno dei padri
fondatori, testimoniando che la tradizione si è ormai consolidata all'interno della
Scuola.
Il Capitano dei Matematici, Federico Scavia, introduce una novità (non destinata
a durare): la stecca del Vicecapitano sarà assegnata al vincitore di un torneo
di Subotto tra i virgulti del secondo anno. L'ambita carica viene conquistata dal
prode Lorenzo Benedini.
Dall'altro lato del campo regna la confusione. Il posto di Vicecapitano verrà
occupato all'ultimo momento dal triumvirato composto da Vasco Cavina (già protagonista
della scena clou del trailer), Giuliano Chiriacò ed Enis Belgacem.
</p>
<p>
Sul versante tecnico abbondano i problemi, principalmente dovuti al fatto che una parte del
Subotto Technical Team è in ferie... ehm, in missione a Los Angeles.
La riscrittura in Python del Subtracker fallisce, e viene utilizzata la perfezionabile
versione in C++ dell'anno precedente.
Anche le fotocellule soffrono della mancanza dei nostri eroi, e per protesta smettono
di funzionare a 10 minuti dall'inizio della sfida. Il lancio d'inizio verrà posticipato
di 50 minuti nel tentativo infruttuoso di riportarle in vita. Buona parte della sfida
verrà giocata con l'ausilio dei Subottoni, fino al termine della protesta delle fotocellule.
</p>
<p>
Dopo un avvio equilibrato, il grafico dei punteggi mette impietosamente in evidenza i
diversi coefficienti angolari delle due squadre, e la gara procede senza sorprese verso
la sesta vittoria dei Matematici.
Viene anche battuto il record individuale di differenza reti in una singola edizione, con il
+122 di Ugo Bindini contro il vecchio +118 di Emanuele Sobacchi (che durava dal 2010).
</p>
</box>

<box color="blue" title="Edizione 2014">
<p>
La preparazione per la 24 ore 2014 inizia già a luglio, con i primi lavori
di grafica 3D per il nuovo attesissimo trailer.
Le ormai consolidate fotocellule di Francesco Guatieri vengono prese in mano
da Carmelo Mordini ed Enrico Polesel, i quali si occupano del lavoro di
ripristino e messa in funzione.
Le novità principali si spostano invece nel campo della programmazione web
e, soprattutto, della computer vision.
</p>
<p>
Inizia quasi per caso il progetto del riconoscimento della pallina del biliardino,
ad opera di Alessandro Achille, Massimo Cairo, Giovanni Mascellani e Giovanni
Paolini. Viene acquistata una webcam con frequenza di 120 fps da porre sopra il
campo di gioco, con l'obiettivo di catturare il video della partita ed
elaborarlo in tempo reale. Il lavoro produce dei buoni risultati, consentendo
di ricostruire parzialmente la traiettoria della pallina e il movimento
degli omini durante il gioco. Questo progetto prende il nome di <em>Subtracker</em>.
</p>
<p>
La grafica del sito web viene completamente rinnovata da Luca Versari e Alessandro
Achille. Viene creata una nuova pagina per seguire la partita in tempo reale,
contenente la ricostruzione delle posizioni di pallina e omini secondo quanto
elaborato dal programma di tracciamento.
</p>
<p>
Si forma ufficialmente il <em>Subotto Technical Team</em>, del quale fanno parte
Alessandro Achille, Massimo Cairo, Giovanni Mascellani, Carmelo Mordini,
Giovanni Paolini, Enrico Polesel e Luca Versari.
Vengono stampate otto copie della nuova maglietta del Subotto Technical Team,
una per ciascuno dei sette membri e una per Alessandro Iraci (principale
organizzatore dell'evento, insieme a Giovanni Paolini).
</p>
<p>
Alcune settimane prima della partita esce il trailer, sul quale hanno lavorato
numerose persone: Giovanni Paolini, Ugo Bindini, Giovanni Mascellani,
Alessandro Achille ed Enrico Polesel (oltre a tutti i doppiatori).
Di particolare effetto è il modello 3D del Collegio Carducci, presente nella
parte iniziale del trailer.
Insieme al trailer viene proiettata la nuova sigla della 24 ore, realizzata
da Francesco Guatieri ispirandosi alla sigla della Champions League.
Anche questa riscuote un grande successo.
</p>
<p>
Nel prepartita non mancano alcune piccole difficoltà tecniche:
solo all'ultimo momento viene trovato un led di ricambio per una delle quattro
fotocellule che aveva smesso di funzionare.
Nei minuti che precedono l'inizio del match viene proiettata nuovamente la sigla della
24 ore e fa il suo ingresso Darth Vader (Marco Barberis), il quale giocherà poi per
alcuni minuti.
La partita si svolge con grande partecipazione e intensità. Nelle prime ore
i Fisici mostrano ottime qualità di gioco e riescono a guadagnare alcune decine
di gol di vantaggio sugli avversari. Durante la notte avviene la rimonta dei
Matematici, i quali si portano in testa e faticosamente cominciano a guadagnare
terreno. È durante il giorno che la squadra dei Matematici riesce a consolidare
la propria posizione con una costante crescita del vantaggio sulla squadra dei
Fisici, vantaggio che rimane ampio fino alla conclusione del match.
Nelle ultime ore di gioco vi è una notevole partecipazione da parte dei membri
di entrambe le squadre, dimostrando ancora una volta il grande successo dell'evento.
Nell'arco di tutta la partita, l'infrastruttura tecnica (fotocellule, riconoscimento
della pallina, streaming e aggiornamento in tempo reale sul web) funziona quasi
costantemente con degli ottimi risultati.
Anche quest'anno dopo la partita viene proiettato il nuovo trailer clandestino,
realizzato come sempre nel più assoluto riserbo.
</p>
</box>

<box title="Edizione 2013" color="blue">
<p>
Il 2013 continua sulla scia delle importanti innovazioni tecniche.
I mesi precedenti alla 24 ore vengono segnati da discussioni e progetti
per la realizzazione delle tanto ambite fotocellule. Vengono realizzate
due batterie da quattro sensori, con design molto diversi: le quattro
fotocellule di Francesco Guatieri sono basate su un'elaborazione hardware
del segnale, mentre quelle di Alessandro Achille si appoggiano quasi
interamente su un controllo software.
</p>
<p>
Esce alcune settimane prima della 24 ore il nuovo trailer, anch'esso
frutto di mesi di lavoro (di manodopera umana e di computer). Nella sua
produzione, Giovanni Paolini viene affiancato da numerosi aiutanti:
Alessandro Achille ed Enrico Polesel per gli effetti grafici,
Francesco Veneziano per la traduzione in elfico di luoghi di Pisa,
Giovanni Mascellani per la registrazione della canzone dei nani, e
Ugo Bindini nel ruolo di direttore (nonché quasi unica componente)
dell'orchestra.
</p>
<p>
Oltre alle fotocellule, vengono aggiunti al Subotto dei display 7-segment,
per mostrare il punteggio delle due squadre, e quattro pulsanti
(i <em>Subottoni</em>) per aggiungere e togliere gol.
Il Subotto inizia a distinguersi dai comuni biliardini non più soltanto
per il nome, la fama e i supergol, ma anche per la complessa elettronica
di cui è stato dotato.
</p>
<p>
Nel frattempo, Giovanni Mascellani e Giovanni Paolini progettano un nuovo
database, più flessibile e potente, per la memorizzazione dei dati di
tutte le 24 ore. Il nuovo design consente di separare diversi processi:
il programma di gestione della partita, il programma di gestione di
fotocellule, bottoni e display, e il programma utilizzato per elaborare 
le informazioni da mostrare sul web.
Anche l'interfaccia web viene migliorata: le informazioni presenti sul
nuovo database unificato consentono di mostrare statistiche non solo sulla
partita in corso ma anche su quelle precedenti (tempo di gioco e gol segnati
dai quattro giocatori in campo). Come già nell'anno precedente, viene man
mano disegnato un grafico con l'andamento dei punteggi nel corso delle 24 ore.
</p>
<p>
Come ormai avviene dal 2011, nei giorni precedenti la partita il Subotto
viene smontato e ripulito. Stavolta però, oltre alla pulizia, avviene
anche una meticolosa sostituzione delle molle e degli altri pezzi da
cambiare. L'opera di manutenzione viene supervisionata dal nuovo Vicecapitano
dei Matematici, Alessandro "Sasha" Iraci.
Vengono inoltre acquistate delle nuove palline, che vanno a sostituire
quelle ormai erose per le innumerevoli ore di gioco dai tempi antichi del Timpano.
</p>
<p>
La partita comincia con mezz'ora di ritardo (era in effetti successo
anche nel 2012), per problemi tecnici con le fotocellule e lo streaming,
ma poi le cose vanno per il meglio. Lo streaming regge per tutte e 24 le
ore, come anche le fotocellule di Francesco Guatieri e i display 7-segment,
anche se le fotocellule hanno alcuni problemi nei primi minuti di gioco.
I Matematici hanno una grande partenza, ma vengono ripresi un paio d'ore
dopo l'inizio. Durante la notte i Fisici cedono nuovamente terreno, e al
mattino i Matematici hanno più di 150 gol di vantaggio. Durante il giorno
inizia una lenta ma tenace rimonta dei Fisici, che riapre i giochi e
aggiunge suspence alla sfida. A poche ore dalla fine, però, i Matematici
si riorganizzano e riescono con determinazione a mantenere l'esiguo
distacco dagli avversari. La partita si conclude con il risultato di 1519-1458.
</p>
<p>
Pochi secondi dopo il termine del match viene proiettato il
<em>trailer clandestino</em>, creato in gran segreto da Giovanni Mascellani,
Fabrizio Bianchi ed Enrico Polesel alcuni giorni prima. Il pubblico
dimostra di apprezzare la sorpresa.
</p>
</box>

<box color="blue" title="Edizione 2012" />
<p>
Il Timpano, collegio che dalla notte dei tempi ospitava il maestoso Subotto, viene chiuso per ristrutturazione. Il Subotto viene quindi spostato al Carducci, che diventa il nuovo centro della scuola di biliardino della SNS. Di conseguenza, anche la 24 ore inizia ad essere ospitata nel collegio a sud dell'Arno, all'interno della Sala Proiezioni.
</p>
<p>
Con il passaggio della fascia di capitano dei Matematici, nasce la tradizione del trailer: quello del 2012, basato su alcune scene de <i>Le Due Torri</i>, viene progettato e realizzato nel giro di mezza giornata dal nuovo capitano Giovanni Paolini e da Denis Nardin.
Comincia a prendere forma il sito web, che non ospita più solamente la pagina del punteggio in tempo reale. Grazie alla regia di Giovanni Mascellani, infatti, su questo sito comincia ad essere mostrato anche lo streaming live: per quasi tutta la durata della partita il campo di gioco viene ripreso da alcune webcam con diverse angolazioni, le immagini sono trasmesse sul web e decine di spettatori seguono online il grande evento.
Una nuova interfaccia scritta in Python da Gennady Uraltsev consente di memorizzare più facilmente le squadre che si succedono al biliardino. Vengono fatti inoltre i primi passi verso lo sviluppo di fotocellule per segnare automaticamente i gol, ma purtroppo non si riesce a realizzare in tempo un prototipo funzionante.
</p>
<p>
L'evento è nuovamente un successo, e si superano i 100 partecipanti totali (più di 50 per squadra).
La partita viene dominata dai Matematici, che prevalgono sia di notte che di giorno arrivando a vincere 1865-1442.
</p>
</box>

<box color="blue" title="Edizione 2011">
<p>
L'anno successivo, la 24 ore viene riproposta nei primi giorni di aprile.
La novità tecnica sta nella possibilità di visualizzare in tempo reale
il punteggio della partita su internet: il programma utilizzato per tenere
conto del punteggio viene infatti migliorato da Giovanni Mascellani e
Denis Nardin in modo da supportare una basilare interfaccia web in PHP.
Prima della sfida, il Subotto viene aggiustato e rinforzato dall'istancabile
lavoro di Francesco Guatieri e Gennady Uraltsev, opera commemorata dalla
frase <em>&ldquo;Nemmeno Dio potrà affondare questo biliardino&rdquo;</em>,
stampata su un biglietto e posta sotto al campo.
</p>
<p>
I turni di gioco dalle 8 alle 20 vengono organizzati in anticipo, al fine di avere scontri il più possibile equilibrati. Di notte e durante le ultime ore della partita, invece, continua ad esserci quella che viene denominata <em>giungla</em>: i Capitani decidono chi far giocare a loro totale discrezione.
Si consolida la tradizione per ciascuna delle due squadre di schierare almeno una matricola nella coppia iniziale; questa diverrà in futuro una vera e propria regola.
</p>
<p>
La partita comincia con la duplice telecronaca di Alessandro Moia (detto <em>Alf</em>), che già aveva commentato la prima 24 ore con dichiarata parzialità, e di Francesco Morosi, chiamato a sostenere la <em>squadra rossa</em> (i Matematici) contro le sottili affermazioni dell'Alf.
Stavolta l'equilibrio non si mantiene a lungo e i Matematici vincono con un buon margine (1658-1398), sebbene non riescano a mantenersi in vantaggio per tutta la partita.
</p>
</box>

<box color="blue" title="Edizione 2010">
<p>
La 24 ore di biliardino nasce nel 2010 da un'idea di Fabrizio Bianchi,
ispiratosi ad un torneo di calcio (organizzato ogni anno a Barzanò) in
cui i giocatori di entrambe le squadre giocano a turno per una durata
complessiva di una giornata.
La prima edizione della 24 ore di biliardino viene organizzata dallo
stesso Fabrizio Bianchi e da Stefano Bolzonella, capitani delle due
squadre destinate ad affrontarsi sul campo: <em>Matematici</em> e <em>Fisici</em>.
Sebbene la tradizione voglia che questi siano i nomi delle squadre, in
realtà non prendono parte all'evento solo matematici e fisici, ma anche
chimici, biologi, informatici e letterati.
</p>
<p>
<img src="files/images/schermo-prima-24ore.png" class="object-with-shadow" style="margin: 0px 0px 0px 15px" width="320", height="240"  align="right"/>
La partita viene giocata negli scantinati del Timpano, sullo speciale
biliardino noto a tutti con il nome di <em>Subotto</em>.
Non ci sono turni programmati in anticipo: ciascuno dei due capitani sceglie
al momento i giocatori da schierare (con la regola di poter effettuare i cambi solo quando il numero totale di gol è multiplo di 10).

I gol vengono segnati sia manualmente (usando i pallottolieri del biliardino
per contare le unità e la lavagna per tener conto delle decine) sia con
un semplice programma in Java scritto per l'occasione da Giovanni Mascellani.
</p>

<p>
Il punteggio viene proiettato grazie ad un tabellone grafico realizzato da Francesco Guatieri.
</p>
<p>
I Matematici rimangono in vantaggio sin dal primo gol, e mantengono il controllo della partita dalle 21.58 del 3 marzo (ora d'inizio) fino al pomeriggio del giorno successivo. Nella prima parte del pomeriggio i Fisici vengono ulteriormente indeboliti dai laboratori, che impegnano gran parte della squadra. Dalle 18 alle 20 invece, durante i corsi interni, si assentano molti valenti giocatori su cui fa affidamento la squadra dei Matematici, e i Fisici cominciano a rimontare.
Il finale di partita è tesissimo: i Matematici tornati dai corsi interni faticano ad arginare lo slancio dei Fisici, che sfiorano i 10 gol di differenza sotto i quali si andrebbe ai tempi supplementari. Il punteggio finale è di 1636-1616.
</p>
</box>










<!--
<box color="blue" title="Edizione 2016">
<p>

</p>
</box>
-->

</div>
