<div class="container">
 <box color="blue" title="Edizioni della 24 ore">
<table id="tabella" class="vcenter">
<thead>
<tr> <th class="center">Edizione</th> <th class="center">Data</th> <th class="center">Matematici</th> <th colspan="2" class="center">Risultato</th> <th class="center">Fisici</th> <th class="center">Luogo</th> </tr>
</thead><tbody>
    <tr>
        <td class="center">XVI</td>
        <td class="center">15-16 febbraio 2025</td>
        <td>Capitano: Giovanni Caiolo<br />
					Vicecapitano: Giordano Sorrentino<br />
          Partecipanti ufficiali: ?</td>
        <td class="center"><b>?</b></td>
        <td class="center">?</td>
        <td>Capitano: Giovanni Manea<br />
					Vicecapitano: Gabriele Ambrosino<br />
          Partecipanti ufficiali: ?</td>
        <td class="center">Palazzo della Carovana</td>
    </tr>
    <tr>
        <td class="center">XV</td>
        <td class="center">17-18 febbraio 2024</td>
        <td>Capitano: Franco Grigoletto<br />
					Vicecapitano: Giovanni Caiolo<br />
          Partecipanti ufficiali: 85</td>
        <td class="center"><b>1497</b></td>
        <td class="center">1334</td>
        <td>Capitano: Marco Catapano<br />
					Vicecapitano: Giovanni Manea<br />
          Partecipanti ufficiali: 90</td>
        <td class="center">Palazzo della Carovana</td>
    </tr>
    <tr>
      <td class="center">XIV</td>
      <td class="center">25-26 febbraio 2023</td>
      <td>
        Capitano: Alessandro Tedeschi<br />
        Vicecapitano: Franco Grigoletto<br />
        Partecipanti ufficiali: 81
      </td>
      <td class="center"><b>1435</b></td>
      <td class="center">1259</td>
      <td>
        Capitano: Matteo Pioldi<br />
        Vicecapitano: Marco Catapano<br />
        Partecipanti ufficiali: 87
      </td>
      <td class="center">Palazzo della Carovana</td>
    </tr>
    <tr>
        <td class="center">XIII</td>
        <td class="center">19-20 marzo 2022</td>
        <td>Capitano: Piergiorgio Ferronato<br />
          Vicecapitano: Alessandro Tedeschi<br />
          Partecipanti ufficiali: 77</td>
        <td class="center"><b>1407</b></td>
        <td class="center">1168</td>
        <td>Capitano: Guglielmo Temperini<br />
          Vicecapitano: Matteo Pioldi<br />
          Partecipanti ufficiali: 57</td>
        <td class="center">Palazzo della Carovana</td>
    </tr>
    <tr>
        <td class="center">XII</td>
        <td class="center">25-26 settembre 2021</td>
        <td>Capitano: Davide Colpo<br />
          Vicecapitano: Piergiorgio Ferronato<br />
          Partecipanti ufficiali: 42</td>
        <td class="center">1450</td>
        <td class="center"><b>1478</b></td>
        <td>Capitano: Claudio Benedetto Maggi<br />
          Vicecapitano: Guglielmo Temperini<br />
          Partecipanti ufficiali: 45</td>
        <td class="center">Palazzo della Carovana</td>
    </tr>
    <tr>
        <td class="center">XI</td>
        <td class="center">8-9 febbraio 2020</td>
        <td>Capitano: Lorenzo Demeio<br />
          Vicecapitano: Davide Colpo<br />
          Partecipanti ufficiali: 61</td>
        <td class="center"><b>1366</b></td>
        <td class="center">1356</td>
        <td>Capitano: Luca Onorato<br />
          Vicecapitano: Claudio Benedetto Maggi<br />
          Partecipanti ufficiali: 61</td>
        <td class="center">Palazzo della Carovana</td>
    </tr>
    <tr>
        <td class="center">X</td>
        <td class="center">9-10 febbraio 2019</td>
        <td>Capitano: Davide Gori<br />
          Vicecapitano: Lorenzo Demeio<br />
          Partecipanti ufficiali: 52</td>
        <td class="center"><b>1606</b></td>
        <td class="center">1145</td>
        <td>Capitano: Enrico Negri<br />
          Vicecapitano: Luca Onorato<br />
          Partecipanti ufficiali: 74</td>
        <td class="center">Palazzo della Carovana</td>
    </tr>
    <tr>
        <td class="center">IX</td>
        <td class="center">8-9 febbraio 2018</td>
        <td>Capitano: Riccardo Zanotto<br />
          Vicecapitano: Davide Gori<br />
          Partecipanti ufficiali: 57</td>
        <td class="center">1320</td>
        <td class="center"><b>1414</b></td>
        <td>Capitano: Alberto Bordin<br />
          Vicecapitano: Enrico Negri<br />
          Partecipanti ufficiali: 67</td>
        <td class="center">Collegio Carducci</td>
    </tr>
	<tr>
        <td class="center">VIII</td>
        <td class="center">25-26 gennaio 2017</td>
        <td>Capitano: Matteo Migliorini<br />
          Vicecapitano: Riccardo Zanotto<br />
          Partecipanti ufficiali: 57</td>
        <td class="center"><b>1514</b></td>
        <td class="center">1344</td>
        <td>Capitano: Alberto Bordin<br />
          Vicecapitano: Giacomo Petrillo<br />
          Partecipanti ufficiali: 64</td>
        <td class="center">Collegio Carducci</td>
    </tr>
	<tr>
        <td class="center">VII</td>
        <td class="center">1-2 febbraio 2016</td>
        <td>Capitano: Lorenzo Benedini<br />
          Vicecapitano: Matteo Migliorini<br />
          Partecipanti ufficiali: 58</td>
        <td class="center"><b>1707</b></td>
        <td class="center">1415</td>
        <td>Capitani: Alberto Bordin,<br />
          Dario Ascari, Giacomo Petrillo<br />
          Partecipanti ufficiali: 49</td>
        <td class="center">Collegio Carducci</td>
    </tr>
	<tr>
        <td class="center">VI</td>
        <td class="center">19-20 febbraio 2015</td>
        <td>Capitano: Federico Scavia<br />
          Vicecapitano: Lorenzo Benedini<br />
          Partecipanti ufficiali: 53</td>
        <td class="center"><b>1706</b></td>
        <td class="center">1330</td>
        <td>Capitano: Marco Cilibrasi<br />
          Vicecapitani: Vasco Cavina,<br />Enis Belgacem, Giuliano Chiriacò<br />
          Partecipanti ufficiali: 61</td>
        <td class="center">Collegio Carducci</td>
    </tr>
	<tr>
		<td class="center">V</td>
		<td class="center">28-29 gennaio 2014</td>
		<td>Capitano: Alessandro Iraci<br />
			Vicecapitano: Federico Scavia<br />
			Partecipanti ufficiali: 69</td>
		<td class="center"><b>1511</b></td>
		<td class="center">1377</td>
		<td>Capitano: Giulio Mandorli<br />
			Vicecapitano: Marco Cilibrasi<br />
			Partecipanti ufficiali: 45</td>
		<td class="center">Collegio Carducci</td>
	</tr>

	<tr>
		<td class="center">IV</td>
		<td class="center">11-12 febbraio 2013</td>
		<td>Capitano: Giovanni Paolini<br />
			Vicecapitano: Alessandro Iraci<br />
			Partecipanti ufficiali: 53</td>
		<td class="center"><b>1519</b></td>
		<td class="center">1458</td>
		<td>Capitano: Luca Rigovacca<br />
			Vicecapitano: Giulio Mandorli<br />
			Partecipanti ufficiali: 43</td>
		<td class="center">Collegio Carducci</td>
	</tr>

	<tr>
		<td class="center">III</td>
		<td class="center">14-15 febbraio 2012</td>
		<td>Capitano: Giovanni Paolini<br />
			Vicecapitano: Giulio Bresciani<br />
			Partecipanti ufficiali: 53</td>
		<td class="center"><b>1865</b></td>
		<td class="center">1442</td>
		<td>Capitano: Luca Rigovacca<br />
			Vicecapitano: Stefano Bolzonella<br />
			Partecipanti ufficiali: 63</td>
		<td class="center">Collegio Carducci</td>
	</tr>

	<tr>
		<td class="center">II</td>
		<td class="center">4-5 aprile 2011</td>
		<td>Capitano: Fabrizio Bianchi<br />
			Vicecapitano: Gennady Uraltsev<br />
			Partecipanti ufficiali: 39</td>
		<td class="center"><b>1658</b></td>
		<td class="center">1398</td>
		<td>Capitano: Stefano Bolzonella<br />
			Vicecapitano: Enrico Morgante<br />
			Partecipanti ufficiali: 37</td>
		<td class="center">Collegio Timpano</td>
	</tr>

	<tr>
		<td class="center">I</td>
		<td class="center">3-4 marzo 2010</td>
		<td>Capitano: Fabrizio Bianchi<br />
			Vicecapitano: Gennady Uraltsev<br />
			Partecipanti ufficiali: 27</td>
		<td class="center"><b>1636</b></td>
		<td class="center">1616</td>
		<td>Capitano: Stefano Bolzonella<br />
			Vicecapitano: Enrico Morgante<br />
			Partecipanti ufficiali: 24</td>
		<td class="center">Collegio Timpano</td>
	</tr>
</tbody>
</table>
 </box>

 <box color="purple" side="left" title="@24oresns">
  <a class="twitter-timeline" href="https://twitter.com/24oresns" data-widget-id="299895045971120129">Tweets di @24oresns</a>
 </box>

 <box color="orange" side="right" title="#24oresns">
  <a class="twitter-timeline" href="https://twitter.com/search?q=%2324oresns" data-widget-id="299897150467350528" ng-init="load_twitter()">Tweet su "#24oresns"</a>
 </box>
</div>
