<style>
table td { vertical-align:middle; }
.tabella-turni thead + tbody tr.gray { background-color: rgb(249, 249, 249); }
.tabella-turni thead + tbody tr.white { background-color: rgb(255, 255, 255); }

tbody tr:nth-child(odd){
  background-color: rgb(249, 249, 249);
}
</style>

<div class="container" >

<box color="blue" title="Turni">
<table class="tabella-turni">
    <thead>
        <tr><th>Orario</th><th>Matematici</th><th>Fisici</th></tr>
    </thead>
    <tbody>
        <tr></tr>
		<tr><td>08:00</td><td>Matano, Marzenta</td><td>Meucci, Mascioletti</td></tr>
		<tr><td>08:20</td><td>Lenzi, Marasciulo</td><td>Tivan, Blandino</td></tr>
		<tr><td>08:40</td><td>Antonini, Tocco</td><td>Artico, Valentini</td></tr>
		<tr><td>09:00</td><td>Balistri, Marasciulo</td><td>Antonucci, Blandino</td></tr>
		<tr><td>09:20</td><td>Melani, Masetti</td><td>Ejrnaes, Foggia</td></tr>
		<tr><td>09:40</td><td>Gasparini, Foschi</td><td>Arsieni, Pirovano</td></tr>
		<tr><td>10:00</td><td>Pieracciani, Mucchietto</td><td>Foreste, Foggia</td></tr>
		<tr><td>10:20</td><td>Botticella, Mucchietto</td><td>Vantaggio, Pappalardo</td></tr>
		<tr><td>10:40</td><td>Avanzinelli, Baldinetti</td><td>Leikhauf, Andreose</td></tr>
		<tr><td>11:00</td><td>Pasqualetti, Tarini</td><td>Fogliata, Valentini</td></tr>
		<tr><td>11:20</td><td>Menini, Minchio</td><td>Menna, Milanese</td></tr>
		<tr><td>11:40</td><td>Paolini, Mascellani</td><td>Pioldi, Temperini</td></tr>
		<tr><td>12:00</td><td>Sartori, Gualdi</td><td>Giordano, Benati</td></tr>
		<tr><td>12:20</td><td>Pierrat, Micele</td><td>Matteri, Cervelli</td></tr>
		<tr><td>12:40</td><td>L’Episcopo, Benassi</td><td>Stanzani, Stanzani</td></tr>
		<tr><td>12:50</td><td>Coppola, Targia</td><td>Calogero, Cervelli</td></tr>
		<tr><td>13:00</td><td>Patimo, Codenotti</td><td>Gulmini, Caggese</td></tr>
		<tr><td>13:10</td><td>Bastioni, Targia</td><td>Artico, Di Grazia</td></tr>
		<tr><td>13:30</td><td>Venturello, Caraceni</td><td>Loiero, Brusco</td></tr>
		<tr><td>13:50</td><td>Foti, Rota</td><td>De Angelis, Pellegrini</td></tr>
		<tr><td>14:10</td><td>Lunghi, Gori</td><td>Arienti, Berther</td></tr>
		<tr><td>14:30</td><td>Ferronato, Quartesan</td><td>De Angelis, Tognini</td></tr>
		<tr><td>14:50</td><td>Casali, Zara</td><td>Amato, Berther</td></tr>
		<tr><td>15:10</td><td>Balzani, Quaranta</td><td>Barbieri, Dell’Anna</td></tr>
		<tr><td>15:30</td><td>Biscaro, Quaranta</td><td>Calogero, Loiero</td></tr>
		<tr><td>15:50</td><td>Damiano, Pernazza</td><td>Cremonesi, Caraci</td></tr>
		<tr><td>16:10</td><td>Pucci, Averoldi</td><td>Mazza, Busato</td></tr>
		<tr><td>16:30</td><td>Resteghini, Vergamini</td><td>Bagnasacco, Modolo</td></tr>
		<tr><td>16:50</td><td>Coser, Mariotti</td><td>Xiccato, Seren</td></tr>
		<tr><td>17:10</td><td>Gallese, Tedeschi</td><td>Temperini, Manea</td></tr>
		<tr><td>17:30</td><td>Tallia, Casella</td><td>Bucciotti, Tognini</td></tr>
		<tr><td>17:50</td><td>Caiolo, Petillo</td><td>Miglionico, Burgio</td></tr>
		<tr><td>18:10</td><td>Caravaggi, Sorrentino</td><td>Pioldi, Arundine</td></tr>
		<tr><td>18:30</td><td>Colpo, Rizzi</td><td>Ariosto, Burgio</td></tr>
		<tr><td>18:50</td><td>Iraci, Grigoletto</td><td>Vllamasi, Catapano</td></tr>
		<tr><td>19:10</td><td>Interdonato, Averoldi</td><td>Seren, Arundine</td></tr>
		<tr><td>19:30</td><td>Veneziano, Lombardo</td><td>Ambrosino, Raganati</td></tr>
	</tbody>
</table>

</box>

</div>
