<style>
table td { vertical-align:middle; }
.tabella-turni thead + tbody tr.gray { background-color: rgb(249, 249, 249); }
.tabella-turni thead + tbody tr.white { background-color: rgb(255, 255, 255); }

tbody tr:nth-child(odd){
  background-color: rgb(249, 249, 249);
}
</style>

<div class="container" >

<box color="blue" title="Prima giungla">
<table class="tabella-turni">
    <thead>
        <tr><th>Orario</th><th>Matematici</th><th>Fisici</th></tr>
    </thead>
    <tbody>
        <!--<tr></tr>-->
        <!--<tr><td>22:00</td><td>??, ??</td><td>??, ??</td></tr>-->
        <!--<tr><td>00:00</td><td>Chiara Molinari, Francesca Molinari</td><td>Sofia Pappalardo, Luca Vantaggio</td></tr>-->
        <!--<tr><td>00:10</td><td>Piergiorgio Ferronato, Claudio Afeltra</td><td>Marco Malandrone, Paolo Tognini</td></tr>-->
        <!--<tr><td>00:20</td><td>Andrea Gallese, Claudio Afeltra</td><td>Leonardo Stanzani, Jacopo Joy Colombini</td></tr>-->
        <!--<tr><td>00:30</td><td>Giovanni Marzenta, Nicola Caravaggi</td><td>Daniele Fedeli, Mattia Dell'Anna</td></tr>-->
        <!--<tr><td>00:40</td><td>Matteo Migliorini, Giovanni Italiano</td><td>Dariel Vllamasi, Mattia Dell'Anna</td></tr>-->
        <!--<tr><td>00:50</td><td>Giovanni Marzenta, Francesco Hrobat</td><td>Giovanni Manea, Luca Vantaggio</td></tr>-->
        <!--<tr><td>01:00</td><td>Davide Pierrat, Silvano Miceli</td><td>Daniele Fedeli, Marco Catapano</td></tr>-->
        <!--<tr><td>01:10</td><td>Roberto Maria Tocco, Giovanni Interdonato</td><td>Marco Malandrone, Paolo Tognini</td></tr>-->
        <!--<tr><td>01:20</td><td>Roberto Maria Tocco, Giovanni Marzenta</td><td>Alberto Ariosto, Marta Canuto</td></tr>-->
        <!--<tr><td>01:30</td><td>Giacomo Gallina, Eduardo Venturini</td><td>Lorenzo Bagnasacco, Luca Vantaggio</td></tr>-->
        <!--<tr><td>01:40</td><td>Davide Colpo, Matteo Migliorini</td><td>Andrea Bruno, Luca Francesco D'Alessandro</td></tr>-->
        <!--<tr><td>01:50</td><td>Giovanni Caiolo, Alessandro Tedeschi</td><td>Giovanni Manea, Matteo Pioldi</td></tr>-->
        <!--<tr><td>22:05</td><td>Alessandro Tedeschi, Piergiorgio Ferronato</td><td>Mattia Arundine, Guglielmo Temperini</td></tr>-->
        <!--<tr><td>22:10</td><td>Franco Grigoletto, Roberto Maria  Tocco</td><td>Francesco D'Alessandro, Andrea Bruno</td></tr>-->
        <!--<tr><td>22:15</td><td>Matteo Gori, Tommaso Lunghi</td><td>Edoardo Loiero, Luca Cremonesi</td></tr>-->
        <!--<tr><td>22:20</td><td>Alessandro Tedeschi, Franco Grigoletto</td><td>Guglielmo Temperini, Luca Vantaggio</td></tr>-->
        <!--<tr><td>22:25</td><td>Giovanni Marzenta, Leonardo Matano</td><td>Franco Grigoletto, Luca Vantaggio</td></tr>-->
        <!--<tr><td>22:30</td><td>Fabio Bordigoni, Nicola Caravaggi</td><td>Isabella Corso, Martino Barbieri</td></tr>-->
        <!--<tr><td>22:35</td><td>Giovanni Italiano, Matteo Migliorini</td><td>Claudio Maggi, Veronica Sacchi</td></tr>-->
        <!--<tr><td>22:40</td><td>Tommaso Lunghi, Nicola Caravaggi</td><td>Matteo Caraci, Daniele Fedeli</td></tr>-->
        <!--<tr><td>22:45</td><td>Francesaca Montellato, Franco Grigoletto</td><td>Enrico Sorrentino, Marianna Crupi</td></tr>-->
        <!--<tr><td>22:50</td><td>Matteo Gori, Nicola Caravaggi</td><td>Mattia Dell'Anna, Alberto Ariosto</td></tr>-->
        <!--<tr><td>22:55</td><td>Giovanni Marzenta, Agnese Fronte</td><td>Leonardo Stanzani, Marianna Crupi</td></tr>-->
        <!--<tr><td>23:00</td><td>Gabriele Cafiero, Luca Molinari</td><td>Isabella Corso, Edoardo Loiero</td></tr>-->
        <!--<tr><td>23:05</td><td>Matteo Gori, Davide Pierrat</td><td>Marco Catapano, Dariel Vllamasi</td></tr>-->
        <!--<tr><td>23:10</td><td>Giovanni Italiano, Davide Colpo</td><td>Guglielmo Temperini, Marianna Crupi</td></tr>-->
        <!--<tr><td>23:15</td><td>Giovanni Italiano, Giovanni Interdonato</td><td>Mattia Arundine, Claudio Maggi</td></tr>-->
        <!--<tr><td>23:20</td><td>Chiara Molinari, Giorgia Benassi</td><td>Edoardo Loiero, Daniele Fedeli</td></tr>-->
        <!--<tr><td>23:25</td><td>Giovanni Italiano, Marco Bagnara</td><td>Daniele Provenzano, Fabio Zoratti</td></tr>-->
        <!--<tr><td>23:30</td><td>Giovanni Marzenta, Roberto Maria  Tocco</td><td>Marco Catapano, Daniele Fedeli</td></tr>-->
        <!--<tr><td>23:35</td><td>Giovanni Italiano, Luca Bruni</td><td>Mattia Arundine, Fabio Zoratti</td></tr>-->
        <!--<tr><td>23:40</td><td>Matteo Gori, Matteo Poletto</td><td>Mattia Dell'Anna, Martino Barbieri</td></tr>-->
        <!--<tr><td>23:45</td><td>Davide Colpo, Davide Lombardo</td><td>Marco Malandrone, Bruno Bucciotti</td></tr>-->
        <!--<tr><td>23:50</td><td>Francesca Montellato, Agnese Fronte</td><td>Isabella Corso, Martino Barbieri</td></tr>-->
        <!--<tr><td>23:55</td><td>Chiara Molinari, Lucrezia Bertoletti</td><td>Leonardo Stanzani, Mattia Arundine</td></tr>-->
        <!--<tr><td>00:00</td><td>Giovanni Marzenta, Anastasia Piazzi</td><td>Matteo Caraci, Martino Barbieri</td></tr>-->
        <!--<tr><td>00:05</td><td>Alessandro Tedeschi, Agnese Fronte</td><td>Matteo Caraci, Dariel Vllamasi</td></tr>-->
        <!--<tr><td>00:10</td><td>Francesaca Montellato, Alessandro Tedeschi</td><td>Leonardo Stanzani, Alberto Ariosto</td></tr>-->
        <!--<tr><td>00:15</td><td>Mattia Robert Klepser, Federica Bertolotti</td><td>Edoardo Loiero, Dariel Vllamasi</td></tr>-->
        <!--<tr><td>00:20</td><td>Giovanni Interdonato, Agnese Fronte</td><td>Edoardo Loiero, Guglielmo Temperini</td></tr>-->
        <!--<tr><td>00:25</td><td>Mattia Robert  Klepser, Roberto Maria  Tocco</td><td>Matteo Caraci, Fares Hasan</td></tr>-->
        <!--<tr><td>00:30</td><td>Francesaca Montellato, Piergiorgio Ferronato</td><td>Mattia Dell'Anna, Dariel Vllamasi</td></tr>-->
        <!--<tr><td>00:35</td><td>Matteo Migliorini, Flavio Ascari</td><td>Francesco D'Alessandro, Andrea Bruno</td></tr>-->
        <!--<tr><td>00:40</td><td>Francesca Montellato, Davide Settecasi</td><td>Isabella Corso, Fares Hasan</td></tr>-->
        <!--<tr><td>00:45</td><td>Mattia Robert  Klepser, Piergiorgio Ferronato</td><td>Marco Catapano, Alberto Ariosto</td></tr>-->
        <!--<tr><td>00:50</td><td>Alessandro Tedeschi, Anastasia Piazzi</td><td>Leonardo Stanzani, Fares Hasan</td></tr>-->
        <!--<tr><td>00:55</td><td>Bernardo Tarini, Matteo Poletto</td><td>Mattia Dell'Anna, Fares Hasan</td></tr>-->
        <!--<tr><td>01:00</td><td>Giacomo Gallina, Matteo Plamieri</td><td>Davide Perrone, Francesco Anna Mele</td></tr>-->
        <!--<tr><td>01:05</td><td>Chiara Molinari, Sebastiano Boscardin</td><td>Antonio Matteri, Antonio Lombardi</td></tr>-->
        <!--<tr><td>01:10</td><td>Edoardo Rizzi, Luca Bruni</td><td>Davide Burgio, Luca Vantaggio</td></tr>-->
        <!--<tr><td>01:15</td><td>Bernardo Tarini, Eduardo Venturini</td><td>Francesco D'Alessandro, Matteo Dell'Acqua</td></tr>-->
        <!--<tr><td>01:20</td><td>Giacomo Gallina, Eduardo Venturini</td><td>Marco Malandrone, Luca Vantaggio</td></tr>-->
        <!--<tr><td>01:25</td><td>Bernardo Tarini, Matteo Plamieri</td><td>Marco Ambrosini, Andrea Bruno</td></tr>-->
        <!--<tr><td>01:30</td><td>Federica Bertolotti, Matteo Migliorini</td><td>Francesco D'Alessandro, Matteo Dell'Acqua</td></tr>-->
        <!--<tr><td>01:35</td><td>Andrea Ulliana, Lorenzo Furio</td><td>Marco Ambrosini, Andrea Bruno</td></tr>-->
        <!--<tr><td>01:40</td><td>Chiara Molinari, Piergiorgio Ferronato</td><td>Filippo Baroni, Veronica Sacchi</td></tr>-->
        <!--<tr><td>01:45</td><td>Giacomo Gallina, Eduardo Venturini</td><td>Marco Ambrosini, Andrea Bruno</td></tr>-->
        <!--<tr><td>01:50</td><td>Edoardo Rizzi, Matteo Migliorini</td><td>Marco Catapano, Guglielmo Temperini</td></tr>-->
        <!--<tr><td>01:55</td><td>Alessandro Tedeschi, Roberto Maria  Tocco</td><td>Davide Burgio, Luca Vantaggio</td></tr>-->
        <!--<tr><td>02:00</td><td>Alessio Spagnoletti, Piergiorgio Ferronato</td><td>Claudio Maggi, Luca Vantaggio</td></tr>-->
        <!--<tr><td>02:05</td><td>Andrea Parma, Claudio Afeltra</td><td>Ferdinando Maieron, Marco Malandrone</td></tr>-->
	</tbody>
</table>

</box>

<box color="blue" title="Turni">
<table class="tabella-turni">
    <thead>
        <tr><th>Orario</th><th>Matematici</th><th>Fisici</th></tr>
    </thead>
    <tbody>
        <tr></tr>
        <tr><td>7:40</td><td>Nason, Sorrentino</td><td>Hasan, Marini</td></tr>
        <tr><td>8:00</td><td>Gualdi, Zara</td><td>Ejrnaes, Foggia</td></tr>
        <tr><td>8:20</td><td>Boscardin, Gallina</td><td>Debortoli, Marini</td></tr>
        <tr><td>8:40</td><td>Mucchietto, Marchesini</td><td>Arsieni, Pirovano</td></tr>
        <tr><td>9:00</td><td>Melani, Balsi</td><td>Calogero, Giacomin</td></tr>
        <tr><td>9:20</td><td>Cortesi, Stancanelli</td><td>Fierri, Pirovano</td></tr>
        <tr><td>9:40</td><td>Lombardo, Milizia</td><td>Donda, Tognini</td></tr>
        <tr><td>10:00</td><td>Antonini, Stancanelli</td><td>Meucci, Loiero</td></tr>
        <tr><td>10:20</td><td>Sartori, Ferrari</td><td>Figura, Reano</td></tr>
        <tr><td>10:40</td><td>Palmieri, Tarini</td><td>Donda, Carli</td></tr>
        <tr><td>11:00</td><td>Gasparini, Foschi</td><td>Felici, Reano</td></tr>
        <tr><td>11:20</td><td>Foti, Rota</td><td>Fogliata, Benati</td></tr>
        <tr><td>11:40</td><td>Deniskin, Correddu</td><td>Raucci, Zoratti</td></tr>
        <tr><td>12:00</td><td>Biscaro, Lunghi</td><td>Borgognino, Pierattelli</td></tr>
        <tr><td>12:20</td><td>Avanzinelli, Molinari</td><td>Busato, Mazza</td></tr>
        <tr><td>12:40</td><td>Zito, Zigliotto</td><td>Purificato, Dell'Anna</td></tr>
        <tr><td>13:00</td><td>Landi, Turpin</td><td>Fierri, Hasan</td></tr>
        <tr><td>13:20</td><td>Casali, Tocco</td><td>Provenzano, Bernardo</td></tr>
        <tr><td>13:40</td><td>Venturini, Micele</td><td>Sodomaco, Barlini</td></tr>
        <tr><td>14:00</td><td>Patruno, Quaranta</td><td>Arsieni, Ragagnati</td></tr>
        <tr><td>14:20</td><td>Pierrat, Gori</td><td>Guerra, Bernardo</td></tr>
        <tr><td>14:40</td><td>Pernazza, Caraceni</td><td>Lombardi, Villani</td></tr>
        <tr><td>15:00</td><td>Pieracciani, Montellato</td><td>Vantaggio, Pappalardo</td></tr>
        <tr><td>15:20</td><td>Musumeci, Bamonti</td><td>Lombardi, Pellizzari</td></tr>
        <tr><td>15:40</td><td>Balzani, Guenna</td><td>Vantaggio, Nonnis</td></tr>
        <tr><td>16:00</td><td>Iraci, Grigoletto</td><td>Tomaselli, Centamori</td></tr>
        <tr><td>16:20</td><td>Paolini, Casella</td><td>Vllamasi, Giacomin</td></tr>
        <tr><td>16:40</td><td>Tallia, Damiano</td><td>Cremonesi, Tomaselli</td></tr>
        <tr><td>17:00</td><td>Demeio, Rizzi</td><td>Temperini, Bagnasacco</td></tr>
        <tr><td>17:20</td><td>Resteghini, Vergamini</td><td>Cremonesi, Caraci</td></tr>
        <tr><td>17:40</td><td>Caravaggi, Marzenta</td><td>Miglionico, Arundine</td></tr>
        <tr><td>18:00</td><td>Poletto, Masetti</td><td>Baiardi, Diona</td></tr>
        <tr><td>18:20</td><td>Matano, Marzenta</td><td>Bucciotti, Burgio</td></tr>
        <tr><td>18:40</td><td>Caiolo, Petillo</td><td>Pioldi, Maggi</td></tr>
        <tr><td>19:00</td><td>Colpo, Italiano</td><td>Bucciotti, Matteucci</td></tr>
        <tr><td>19:20</td><td>Interdonato, Petillo</td><td>Ariosto, Manea</td></tr>
        <tr><td>19:40</td><td>Ferronato, Quartesan</td><td>Onorato, Matteucci</td></tr>
        <tr><td>20:00</td><td>Gallese, Tedeschi</td><td>Colombini, Catapano</td></tr>
        <!--<tr><td>08:00</td><td>Giacomo Gallina, Sebastiano Boscardin</td><td>Antonio Matteri, Antonio Lombardi</td></tr>-->
        <!--<tr><td>08:20</td><td>Tommaso Lunghi, Matteo Scardala</td><td>Isabella Corso, Martino Barbieri</td></tr>-->
        <!--<tr><td>08:40</td><td>Carlo Danelon, Luisa Avanzinelli</td><td>Francesco Sicignano, Thomas Spinelli</td></tr>-->
        <!--<tr><td>09:00</td><td>Chiara Molinari, Eduardo Venturini</td><td>Davide Perrone, Francesco Anna  Mele</td></tr>-->
        <!--<tr><td>09:20</td><td>Giovanni Marzenta, Nicola Caravaggi</td><td>Mattia Dell'Anna, Daniele Fedeli</td></tr>-->
        <!--<tr><td>09:45</td><td>Gabriele Quaranta, Umberto Sorice</td><td>Francesco Sicignano, Thomas Spinelli</td></tr>-->
        <!--<tr><td>10:05</td><td>Claudio Afeltra, Flavio Ascari</td><td>Niccolò Porciani, Luca Vantaggio</td></tr>-->
        <!--<tr><td>10:30</td><td>Giovanni Marzenta, Samuele Biscaro</td><td>Edoardo Loiero, Alberto Ariosto</td></tr>-->
        <!--<tr><td>10:50</td><td>Luca Bruni, Roberto Maria  Tocco</td><td>Daniele Battesimo  Provenzano, Fabio Zoratti</td></tr>-->
        <!--<tr><td>11:15</td><td>Giovanni Marzenta, Matteo Poletto</td><td>Matteo Caraci, Luca Cremonesi</td></tr>-->
        <!--<tr><td>11:35</td><td>Nicolò Bignami, Sirio Resteghini</td><td>Federico Rossi, Luca Francesco D'Alessandro</td></tr>-->
        <!--<tr><td>11:55</td><td>Alberto Casali, Agnese Fronte</td><td>Francesco Busato, Nicola Steffenato</td></tr>-->
        <!--<tr><td>12:15</td><td>Fabio Baschetti, Marco Bagnara</td><td>Matteo Caraci, Luca Cremonesi</td></tr>-->
        <!--<tr><td>12:35</td><td>Eliseo Luongo, Gianmarco del Sarto </td><td>Leonardo Stanzani, Fares Hasan</td></tr>-->
        <!--<tr><td>12:55</td><td>Lorenzo Bresolin, Alessandro Trenta</td><td>Edoardo Loiero, Luca Vantaggio</td></tr>-->
        <!--<tr><td>13:15</td><td>Mattia Roberto Klepser, Anastasia Piazzi</td><td>Elisa Brembilla, Maria Beatrice  Tosi</td></tr>-->
        <!--<tr><td>13:35</td><td>Alessio Spagnoletti, Andrea Lugo</td><td>Leonardo Stanzani, Fares Hasan</td></tr>-->
        <!--<tr><td>14:00</td><td>Matteo Gori, Davide Pierrat</td><td>Marco Catapano, Daniel Vllamasi</td></tr>-->
        <!--<tr><td>14:25</td><td>Andrea Parma, Matteo Migliorini</td><td>Paolo Tognini, Marco Malandrone</td></tr>-->
        <!--<tr><td>14:50</td><td>Giovanni Italiano, Matteo Migliorini</td><td>Salvatore Tirone, Lorenzo Pierro</td></tr>-->
        <!--<tr><td>15:10</td><td>Giulio Grammatica, Alberto L'Episcopo</td><td>Luca Francesco D'Alessandro, Andrea Bruno</td></tr>-->
        <!--<tr><td>15:35</td><td>Franco Grigoletto, Leonardo Matano</td><td>Mattia Arundine, Lorenzo Pierro</td></tr>-->
        <!--<tr><td>16:00</td><td>Marco Vergamini, Lucrezia Bertoletti</td><td>Leonadro D'Addario, Marianna Crupi</td></tr>-->
        <!--<tr><td>16:20</td><td>Edoardo Rizzi, Andrea Gallese</td><td>Davide Burgio, Bruno Bucciotti</td></tr>-->
        <!--<tr><td>16:45</td><td>Alberto Quartesan, Piergiorgio Ferronato</td><td>Claudio Benedetto  Maggi, Pasquale Miglionico</td></tr>-->
        <!--<tr><td>17:10</td><td>Filippo Gianni Baroni, Giovanni Interdonato</td><td>Mattia Arundine, Bruno Bucciotti</td></tr>-->
        <!--<tr><td>17:35</td><td>Ludovico Pernazza, Davide Lombardo</td><td>Luca Francesco D'Alessandro, Andrea Bruno</td></tr>-->
        <!--<tr><td>18:00</td><td>Bernardo Tarini, Matteo Palmieri</td><td>Marco Ambrosini, Matteo Dell'Acqua</td></tr>-->
        <!--<tr><td>18:20</td><td>Francesco Milizia, Davide Carazzato</td><td>Lorenzo Colombo, Loris Donda</td></tr>-->
        <!--<tr><td>18:45</td><td>Andrea Ulliana, Alberto Casali</td><td>Enrico Sorrentino, Marco Malandrone</td></tr>-->
        <!--<tr><td>19:10</td><td>Edoardo Rizzi, Lorenzo Demeio</td><td>Luca Onorato, Jacopo Joy Colombini</td></tr>-->
        <!--<tr><td>19:35</td><td>Alessandro Tedeschi, Davide Colpo</td><td>Claudio Benedetto Maggi, Guglielmo Temperini</td></tr>-->
    </tbody>
</table>

</box>

<box color="blue" title="Seconda giungla">
<table class="tabella-turni">
    <thead>
        <tr><th>Orario</th><th>Matematici</th><th>Fisici</th></tr>
    </thead>
    <tbody>
        <!--<tr></tr>-->
        <!--<tr><td>20:00</td><td>Giovanni Italiano, Ludovico Pernazza</td><td>Salvatore Tirone, Alberto Ariosto</td></tr>-->
        <!--<tr><td>20:05</td><td>Alberto Quartesan, Giovanni Interdonato</td><td>Salvatore Tirone, Pasquale Miglionico</td></tr>-->
        <!--<tr><td>20:10</td><td>Giovanni Italiano, Edoardo Rizzi</td><td>Leonardo Stanzani, Pasquale Miglionico</td></tr>-->
        <!--<tr><td>20:15</td><td>Bernardo Tarini, Matteo Poletto</td><td>Matteo Caraci, Fares Hasan</td></tr>-->
        <!--<tr><td>20:20</td><td>Alberto Quartesan, Lorenzo Demeio</td><td>Guglielmo Temperini, Veronica Sacchi</td></tr>-->
        <!--<tr><td>20:25</td><td>Guglielmo Temperini, Giovanni Interdonato</td><td>Lorenzo Demeio, Luca Onorato</td></tr>-->
        <!--<tr><td>20:30</td><td>Guglielmo Temperini, Piergiorgio Ferronato</td><td>Lorenzo Demeio, Luca Onorato</td></tr>-->
        <!--<tr><td>20:35</td><td>Claudio Maggi, Davide Colpo</td><td>Guglielmo Temperini, Piergiorgio Ferronato</td></tr>-->
        <!--<tr><td>20:40</td><td>Piergiorgio Ferronato, Alberto Quartesan</td><td>Tommaso Brusco, Mattia Arundine</td></tr>-->
        <!--<tr><td>20:45</td><td>Andrea Gallese, Agnese Fronte</td><td>Luca Onorato, Marianna Crupi</td></tr>-->
        <!--<tr><td>20:50</td><td>Penelope Ena, Martina Dapian</td><td>Matteo Caraci, Martino Barbieri</td></tr>-->
        <!--<tr><td>20:55</td><td>Andrea Ulliana, Lorenzo Furio</td><td>Leonardo Stanzani, Marco Malandrone</td></tr>-->
        <!--<tr><td>21:00</td><td>Claudio Afeltra, Andrea Parma</td><td>Luca Vantaggio, Guglielmo Temperini</td></tr>-->
        <!--<tr><td>21:05</td><td>Giovanni Italiano, Davide Colpo</td><td>Guglielmo Temperini, Veronica Sacchi</td></tr>-->
        <!--<tr><td>21:10</td><td>Alessandro Tedeschi, Roberto Maria  Tocco</td><td>Francesco Paronetto, Daniele Pavarini</td></tr>-->
        <!--<tr><td>21:15</td><td>Chiara Molinari, Davide Colpo</td><td>Matteo Dell'Acqua, Marco Ambrosini</td></tr>-->
        <!--<tr><td>21:20</td><td>Fabio Bordigoni, Davide Pierrat</td><td>Mattia Dell'Anna, Dariel Vllamasi</td></tr>-->
        <!--<tr><td>21:25</td><td>Giovanni Taffarello, Giorgio Mangioni</td><td>Marco Catapano, Daniele Fedeli</td></tr>-->
        <!--<tr><td>21:30</td><td>Alberto Quartesan, Flavio Ascari</td><td>Davide Burgio, Pasquale Miglionico</td></tr>-->
        <!--<tr><td>21:35</td><td>Alessandro Tedeschi, Roberto Maria  Tocco</td><td>Claudio Maggi, Alberto Ariosto</td></tr>-->
        <!--<tr><td>21:40</td><td>Giacomo Gallina, Eduardo Venturini</td><td>Francesco Paronetto, Alberto Ariosto</td></tr>-->
        <!--<tr><td>21:45</td><td>Gabriele Cafiero, Luca Molinari</td><td>Edoardo Centamori, Jacopo Joy Colombini</td></tr>-->
        <!--<tr><td>21:50</td><td>Filippo Baroni, Andrea Gallese</td><td>Claudio Maggi, Veronica Sacchi</td></tr>-->
        <!--<tr><td>21:55</td><td>Davide Colpo, Piergiorgio Ferronato</td><td>Guglielmo Temperini, Claudio Benedetto Maggi</td></tr>-->
    </tbody>
</table>

</box>

</div>
