<div class="container" >
 <box color="blue" title="24 ore: streaming live">
  <!--<iframe width="560" height="315" src="https://www.youtube.com/embed/NP_6QtBXaIk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>-->
  <!--<iframe width="560" height="315" src="https://www.youtube.com/embed/o7aFKsbs6ZA" title="24 ore 2023" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>-->
  <!--<iframe width="560" height="315" src="https://www.youtube.com/embed/WHG4Yk-2kIw" title="24 ore 2024" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>-->
  <iframe width="560" height="315" src="https://www.youtube.com/embed/r2ZoJAh_5Zc?si=9Obnxybc-An7ufMh" title="24 ore 2025" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
 </box>
</div>
