<div class="container">
 <box color="purple" title="Sigla della 24 ore" style="width: 600px" >
  <iframe width="560" height="315" src="//www.youtube.com/embed/xGoaHT6PzxY?rel=0" frameborder="0" allowfullscreen></iframe>
  <p>Autore: Francesco Guatieri</p>
 </box>

 <box color="purple" title="Trailer 2025" style="width: 600px" >
 </box>

 <box color="blue" title="Trailer 2024" style="width: 600px" >
  <iframe width="560" height="315" src="https://www.youtube.com/embed/2QTrvCtyZss?si=vZkdJkN-V_h9Xn3b" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
 </box>

 <box color="blue" title="Trailer 2023" style="width: 600px" >
  <iframe width="560" height="315" src="https://www.youtube.com/embed/5b5FW8BkSus" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
 </box>

 <box color="blue" title="Trailer 2022" style="width: 600px" >
   <iframe width="560" height="315" src="https://www.youtube.com/embed/vL6MZ3xZT1E" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
 </box>

 <box color="blue" title="Trailer 2021" style="width: 600px" >
   <iframe width="560" height="315" src="https://www.youtube.com/embed/GWEsxs7U_yw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
 </box>
 <box color="blue" title="Trailer 2020" style="width: 600px" >
   <iframe width="560" height="315" src="https://www.youtube.com/embed/lJTp7hlntdk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
 </box>
 <box color="blue" title="Trailer 2019" style="width: 600px" >
   <iframe width="560" height="315" src="https://www.youtube.com/embed/JwXVQkm9Ha0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
 </box>
 <box color="blue" title="Trailer 2018" style="width: 600px" >
  <iframe width="560" height="315" src="https://www.youtube.com/embed/fXpvyiK0F7s" frameborder="0" allowfullscreen></iframe>
 </box>
 <box color="blue" title="Trailer 2017" style="width: 600px" >
  <iframe width="560" height="315" src="https://www.youtube.com/embed/u5GDjdmflYI" frameborder="0" allowfullscreen></iframe>
 </box>
 <box color="blue" title="Trailer clandestino 2017" style="width: 600px" >
   <iframe width="560" height="315" src="https://www.youtube.com/embed/JgcnkWZ2uU4" frameborder="0" allowfullscreen></iframe>
 </box>
 <box color="blue" title="Trailer 2016" style="width: 600px" >
  <iframe width="560" height="315" src="//www.youtube.com/embed/IA1jVKQ9cCk?rel=0" frameborder="0" allowfullscreen></iframe>
 </box>
 <box color="blue" title="Trailer 2015" style="width: 600px" >
  <iframe width="560" height="315" src="//www.youtube.com/embed/rhPQ4odeKl4?rel=0" frameborder="0" allowfullscreen></iframe>
 </box>
 <box color="blue" title="Trailer 2014" style="width: 600px" >
  <iframe width="560" height="315" src="//www.youtube.com/embed/zWSAXOlzBcE?rel=0" frameborder="0" allowfullscreen></iframe>
 </box>
 <box color="blue" title="Trailer Clandestino 2014" style="width: 600px" >
  <iframe width="560" height="315" src="//www.youtube.com/embed/R3NyBXSBE_I?rel=0" frameborder="0" allowfullscreen></iframe>
 </box>
 <box color="blue" title="Trailer 2013" style="width: 600px" >
  <iframe width="560" height="315" src="//www.youtube.com/embed/e1G09hAuMMA?rel=0" frameborder="0" allowfullscreen></iframe>
  <!--<p><a href="files/downloads/trailer2013.avi">Scarica il trailer 2013 [AVI, 154MB]</a></p>-->
 </box>
 <box color="blue" title="Trailer Clandestino 2013" style="width: 600px" >
  <iframe width="560" height="315" src="//www.youtube.com/embed/OWZrbjebqrE?rel=0" frameborder="0" allowfullscreen></iframe>
  <p><!--<a href="files/downloads/trailer2013-2.mkv">Scarica il trailer clandestino 2013 [MKV, 66MB]</a> </br>-->
  (sottotitoli e montaggio di Giovanni Mascellani, Fabrizio Bianchi ed Enrico Polesel)</p>
 </box>
 <box color="blue" title="Trailer 2012" style="width: 600px" >
  <iframe width="560" height="315" src="//www.youtube.com/embed/Y4_oP3aYQs4?rel=0" frameborder="0" allowfullscreen></iframe>
  <p><!--<a href="files/downloads/trailer2012.avi">Scarica il trailer 2012 [AVI, 22MB]</a> </br>-->
  (dialoghi, voci e montaggio di Giovanni Paolini e Denis Nardin)</p>
 </box>
</div>
